.st-twins-background {
    background: black url(https://cdn.sttwins.com/static/book/bg.jpg?r=0.02) center center fixed;
}

.dropdown-item {
    color: #777;
    padding: .175rem 1rem;
    max-width: 300px;
    overflow: hidden;
}

a.dropdown-item:hover,
button.dropdown-item:hover {
    background-color: #000;
    color: #fff;
}


.st-twins-header {
    background-color: rgba(128, 128, 128, 10%);
    padding: 10px 7px 0px 7px;
    margin-bottom: 7px;
    font-weight: bold;
}

.st-twins-line {
    background-color: red;
    position: relative;
    height: 1px;
    left: -80%;
}

.f-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-justify;

    /*?*/
    break-inside: avoid;
}

.f-row:hover {
    font-weight: bold;
}

.f-row > .f-title {
    flex: 0 1 auto;
    text-transform: uppercase;
    margin-right: 5px;
}

.f-row > .f-dots {
    flex: 1 0 auto;
    border-bottom: 3px dotted #ddd;
    margin-bottom: 5px;
}

.f-row > .f-address {
    margin-left: 5px;
}

#content h1 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 4px solid white;
}

#content h1:first-child {
    margin-top: 0;
}

#content h2 {
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0 0;
    border-bottom: 4px solid white;
}

#content {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 300px
}


a.dropdown-item, button.dropdown-item {
    padding-right: 1rem;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topButton:hover {
    background-color: #555;
}

.content-block {
    column-width: 400px;
}


.container {
    max-width: unset;
    min-height: 100vh;
}

#fixed-menu {
    width: 250px;

    top: 90px;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* remove scrollbar view for side menu*/
#fixed-menu::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
